.container{
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background: #95CACA;
}

input{
  width: 30px;
}

.calculator{
  width: 100px;
}

.total{
  font-size: 24px;
  font-weight: bold;
}

em{
  font-size: 32px;
}